#OurTeam {
    height: 100vh;
    flex-wrap: wrap;
    .OurTeamArea {
        .OurTeamText {
            font-size: 40px;
            color: #007bff;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .OurTeamMainArea {
            margin-top: 100px;
            display: grid;
            margin: auto;
            grid-template-columns: 1fr 1fr 1fr 1fr;

            .TeamBox {
                // border: 1px solid black;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                img {
                    width: 255px;
                    height: 255px;
                }
            }
        }
    }
}